
* {box-sizing: border-box;
    scroll-behavior: smooth;
   }
 body {
     
     transition: background-color .5s;
     padding:0;
     margin:0;
     height:100vh;
     background-size: cover;
    
    background-color:#ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
   }
 
 
 
   /*---------------------------------------------------------side navbar-------------------------------------------------------------- */
   .sidenav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #0b0046;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 60px;
     display:none;
    
    
   }
   .vl {
     border-left: 2px solid white;
     height: 50px;
     margin-left:90px;
   }
   .sidenav a {
     padding: 8px 8px 20px 32px;
     text-decoration: none;
     font-size: 18px;
    color:white;
     display: block;
     transition: 0.3s;
   }
   
 
   .sidenav a:hover {
     animation:tada ease-in 1s;
   }
   .sidenav a i{
     font-size: 22px;
     padding-right: 10px;
     color:rgb(197, 153, 43);
   }
   .sidenav .closebtn  {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
     overflow: hidden;
   }
   
   
   #main {
     transition: margin-left .5s;
     padding: 16px;
     color: white;
     display:none;
   }
  
 
   
  /*---------------------------------------------------------Navbar-------------------------------------------------------------- */
   
   .bar
   {
     align-items: center;
     display:flex;
     background-color: #0b0046;
     
  justify-content: center;
  
     overflow: hidden;
   }
   .bar img{
       width:100px;
   }
  
   .bar a{
       padding: 5px;
       text-decoration: none;
      
       
       font-size: 22px;
       margin-left: 40px;
       color: white;
       
       
   }
   .bar .ABC:hover{
     animation:tada ease-in 1s;
  
   }
   #logo1
   {
     border-radius:100px;
     width:75px;
   }
   .bar a i{
     font-size: 30px;
     padding-right: 10px;
     color:rgb(197, 153, 43);
   }
   .bar .UP
   {
     animation: up 0.5s linear 1;  
      
   }
   
   #current-1
   {
    color:rgb(212, 177, 89);
   }

   
   @keyframes tada {
     0% {transform: scale(1);} 
     10%, 20% {transform: scale(0.9) rotate(-3deg);} 
     30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
     40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
     100% {transform: scale(1) rotate(0);} 
  } 
   @keyframes up {
     0%
     {
       margin-top:-190px
     }
     100%
     {
       margin-top:0px;
     
     }
   }
   /*------------------------------card------------------------------------------*/
   .container
   {
    display: flex;
    margin: 35px auto;
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right:20px;
    background-color:#4ea8de;
    border-radius: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
   }
   
   
   .img img{
     width:80%;
     float: left;
     height: 100%;
     box-sizing:border-box;
     border-top-left-radius:20px;
     border-bottom-left-radius:20px;
   }
   .contents
   {
   
    margin: auto auto auto -70px;
    font-family:Barlow;
    font-size:20px;
    font-weight: bolder;
   }
   .animate {
    overflow-x: hidden;
    transition: transform .2s; /* Animation */
  }
  
  .animate:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    overflow-x: hidden;
  }

  .container-1
  {
   display: flex;
   margin: 35px auto;
   width: 70%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color:#4ea8de;
   border-radius: 20px;
   box-sizing: border-box;
   overflow-x: hidden;
  }
  .img-1 img{
    width:90%;
    height: 100%;
    
    box-sizing:border-box;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    float: right;
  }
  .contents-1
  {
    padding-left: 100px;
   margin: auto;
   overflow: hidden;
   font-family:Barlow;
   font-weight: bolder;
   font-size:20px;
  }
  .box img 
  { display: flex;
    margin:50px auto;
    width:70%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    border-radius:20px;
  }
  .context
  {
    background-color: rgb(223, 224, 224);
    padding:100px;
    padding-top:180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:-150px;
    text-align: center;
    
  }
  .context h1
  {
    text-align: center;
    margin: auto;
    margin-bottom:10px;
  }
  .para{
   
  text-align:center;
  }
 .para img{
  width:180px;
  
 }
 .para img:nth-child(2)
 {
  height:73px;
 }
 .para img:nth-child(3)
 { 
  height:55px;
  width:160px;
  margin-bottom:10px;
 }

 /* --------------------------footer---------------------------------------------------------- */
 .fullbody
 { font-size:18px;
   
  align-items: center;
  justify-content: center;
  background-color: #0b0046;
 }
 .footer
 { color: rgb(20, 13, 13);
  overflow-x: hidden;
   display:flex;
 }
 .image-holder img
 { margin-top: 20px;
   padding-top: 50px;
   width:250px;
   padding-left:10px;
   padding-right:20px;
 }
 
 #apple
 {
   width:180px;
   padding-top:50px;
   
 }
 
 .charging
 {
   padding: 50px 30px 50px 65px;
 }
 .aboutus
 {
   padding: 50px 30px 50px 65px;
 }
 
 .contact
 {
   padding: 50px 30px 50px 65px;
 }
 .contact i{
   
   padding-right: 10px;
   font-size:25px;
 }
 .aboutus i{
   padding-right: 10px;
   font-size:25px;
 }
 .charging i{
   padding-right: 10px;
   font-size:25px;
 }
 .copyright
 {
   text-align: center;
   color: white;
   font-size:22px;
   margin-top:-20px;
   padding-bottom:20px;
 }
 .socialmedia
 {
   padding: 50px 30px 50px 65px;
 
 }
 .socialmedia i{
   padding-right: 10px;
   font-size:25px;
 }
 .footer i{
   color:white;
 }
 .footer h4{
   color:white;
 }
 .footer a
 { text-decoration:none;
   color:white;
 }
 .footer a :hover{
   color:rgb(197, 153, 43);
 }
 #arrow
 {color:rgb(255, 250, 250);
   margin-left:-400px;
   margin-top:250px;  
   
   transition: transform .2s;
 }
 #arrow :hover{
   color:rgb(130, 96, 96);
   transform: scale(1.2);
 }

 
   @media screen and (min-device-width: 120px) and (max-device-width: 1000px)
   {
    .container
    {
      margin: 60px auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding-right:0px;
     
    }
   .img img
    {
      
     
      height:90%;
      width:100%;
      border-bottom-left-radius:0px;
      border-top-right-radius:20px;
      overflow: hidden;
    }
    .img{
      margin-bottom:-50px ;
    }
    .contents
    {font-size:20px;
        margin: auto;
      padding:25px;
      text-align: center;
    }
    .container-1
    {
      margin: 60px auto;
     display: flex;
     margin: 35px auto;
     flex-wrap: wrap-reverse;
      flex-direction: row;
    
     
    }
    .img-1{
      margin-bottom:-50px ;
    }
    .img-1 img{
      width:100%;
      height: 90%;
      box-sizing:border-box;
      border-top-right-radius:20px;
      border-top-left-radius:20px;
      border-bottom-right-radius:0px;
      float:none;
      overflow: hidden;
    }
    .contents-1
    {
      font-size:20px;
    
      padding:25px;
      text-align: center;
    }
    .context
    {
      background-color: rgb(224, 223, 223);
      padding:100px;
      padding-top:180px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top:-150px;
      overflow: hidden;
      text-align: center;
      justify-content: center;
      
    }

    .context h1
    {
      text-align: center;
      margin-bottom:10px;
    }
    .para p{
     
    text-align:center;
    }
   .para img{
    width:180px;
    
   }
   .para img:nth-child(2)
   {
    height:73px;
   }
   .para img:nth-child(3)
   { 
    height:55px;
    width:160px;
    margin-bottom:10px;
   }
  
    
    .box img 
  { display: flex;
    margin:50px auto;
    width:95%;
   
    border-radius:20px;
  }
  .context
  {
    background-color: rgb(224, 223, 223);
    padding:100px;
    padding-top:180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:-150px;
    text-align: center;
    
  }
 
  .para{
   
  text-align:center;
  }
 .para img{
  width:180px;
  
 }
 .para img:nth-child(2)
 {
  height:73px;
 }
 .para img:nth-child(3)
 { 
  height:55px;
  width:160px;
  margin-bottom:10px;
 }
   }

   /* ------------------- */
   
  @media screen and (min-device-width: 200px) and (max-device-width: 319px)
  {
    .text {font-size: 18px}
    .bar a:not(:nth-child(1))
    {
      display:none;
      text-align: center;
      justify-content: center;
    }
    .copyright
    {
      font-size:16px;
    }
    .bar a{
      margin-left:20px;
    }
    .bar #hide
    {
      display: block;
      
    }
    .bar img 
    {
      padding-right:16px;
    }
    .vl{
      display:none;
    }
    .sidenav{
      display: block;
     
    }
    #main{
      display: block;
      
    }
  .bar{
    margin-top:-72px;
    text-align: center;
      justify-content: center;
   
  }   
  .fullbody
  {
   overflow-x: hidden;
  }
  .footer
  {
   overflow-x: hidden;
  }
  .thefront img{
    width:250px;
    height:150px;
  }
  .content-1 p
    {
      margin-left:0px;
      width:250px;
      color:white;
    }

  .footer{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size:14px;
  }
  .image-holder img:nth-child(1){
    padding-top:19px;
    padding-left:20px;
    width:190px;
   }
   #apple
   { width: 190px;
     padding-top:20px;
     padding-bottom:10px ;
   }
  .charging
  {
    padding:0px;
  }
  .aboutus
  {
    padding:0px;
  }
  .contact
  {
    padding:0px;
  }
  .socialmedia
  {
    padding:0px;
  }
  .image-holder img
  { padding-top:20px;
    width:240px;
  }
  .image-holder
  {
    display: block;
    margin-left:0px;
  }
  #arrow
  {color:rgb(255, 250, 250);
   margin: 0%;
    transition: transform .2s;
  }
  #arrow :hover{
    color:rgb(130, 96, 96);
    transform: scale(1.2);
  }
  
  }
/* ------------------------------------------------------------ */
  @media screen and (min-device-width: 320px) and (max-device-width: 637px)
  {
    
    .bar a:not(:nth-child(1))
    {
      display:none;
      text-align: center;
      justify-content: center;
    }
    .bar a{
      margin-left:0px;
      
      
    }
    .copyright
    {
      font-size:16px;
    }
    .bar #hide
    {
      display: block;
      
    }
    .vl{
      display:none;
    }
    .sidenav{
      display: block;
     
    }
    #main{
      display: block;
      
    }
  .bar{
    margin-top:-72px;
    text-align: center;
      justify-content: center;
   
  }   
  .fullbody
  {
   overflow-x: hidden;
  }
  .footer
  {
   overflow-x: hidden;
  }
 
  .footer{
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size:14px;
  }
  .image-holder img:nth-child(1) {
   padding-top:19px;
   
   width:200px;
  }
  .image-holder img:nth-child(2)
  {
    padding-top:-5px;
    padding-bottom:10px ;
  }
  .charging
  {
    padding:0px;
  }
  .aboutus
  {
    padding:0px;
  }
  .contact
  {
    padding:0px;
  }
  .socialmedia
  {
    padding:0px;
  }
  .image-holder img
  { padding-top:20px;
    width:240px;
  }
  .image-holder
  {
    display: block;
    margin-left:15px;
  }
  #arrow
  {color:rgb(255, 250, 250);
   margin: 0%;
    transition: transform .2s;
  }
  #arrow :hover{
    color:rgb(130, 96, 96);
    transform: scale(1.2);
  }
  
  }
/* ---------------------------------------------------------------------- */
  @media screen and (min-device-width: 638px) and (max-device-width: 815px)
{.copyright
  {
    font-size:21px;
  }
  .bar a
  {
    font-size:15px;
    margin-left:0px;
    text-align: center;
    align-items: center;
  }
  
  .bar a i
  {
    font-size:20px;
    padding:5px;
  }
  .bar img{
    width:100px;
    display: block;
    margin-right:0px;
}
  .vl{
    margin-left:20px;
    margin-right:10px;
  }  


.fullbody
{
 overflow-x: hidden;
 font-size:15px;

}
.footer
{
 overflow-x: hidden;
 display: block;
 text-align:center;
 font-size:21px;
 padding-top:10px;
 
}
.image-holder
{
  margin-left:10px;
}
.image-holder img
{ 
 
  width:250px;
}
.image-holder img:nth-child(2)
{
  width:218px;
}
.image-holder img:nth-child(1)
{
  margin-left:-10px;
}
.charging,.aboutus,.socialmedia,.contact
{
  padding: 10px;
}
}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width: 816px) and (max-device-width: 1000px)
{
  .bar a
  {
    font-size:18px;
    margin-left:0px;
   
    
  }
  .bar a i
  {
    font-size:20px;
    padding:5px;
  }
  .bar img{
    width:100px;
    display: block;
    
}
  .vl{
    margin-left:20px;
    margin-right:10px;
  }  

.image-holder
{
  margin-left:10px;
}
.image-holder img
{ 
 
  width:250px;
}
.image-holder img:nth-child(2)
{
  width:218px;
}
.image-holder img:nth-child(1)
{
  margin-left:-10px;
}
.charging,.aboutus,.socialmedia,.contact
{
  padding: 10px;
}

  .fullbody
{
 overflow-x: hidden;
 font-size:15px;

}
.footer
{
 overflow-x: hidden;
 display: block;
 text-align:center;
 font-size:21px;
 padding-top:10px;
 
}
}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1001px) and (max-device-width:1023px)
{
  .bar a
  {
    font-size:20px;
    margin-left:0px;
    text-align: center;
    
  }
  .bar a i
  {
    font-size:22px;
    padding:5px;
  }
  .bar img{
    width:100px;
    display: block;
    margin-right:10px;
}
  .vl{
    margin-left:20px;
    margin-right:10px;
  }  


.image-holder
{
  margin-left:10px;
}
.image-holder img
{ 
 
  width:150px;
}
.image-holder img:nth-child(2)
{
  width:120px;
}
.image-holder img:nth-child(1)
{
  margin-left:-10px;
}
.charging,.aboutus,.socialmedia,.contact
{ font-size:16px;
  padding: 13px;
}
.footer
{
 flex-wrap: wrap;
}
#arrow
{color:rgb(255, 250, 250);
  margin-left:-300px;
  margin-top:170px;  
  transition: transform .2s;
}


}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1024px) and (max-device-width:1080px)
{
  .bar a
  {
    font-size:20px;
    margin-left:0px;
    text-align: center;
    
  }
  .bar a i
  {
    font-size:22px;
    padding:5px;
  }
  .bar img{
    width:100px;
    display: block;
    margin-right:10px;
}
  .vl{
    margin-left:40px;
    margin-right:20px;
  }  


.image-holder
{
  margin-left:10px;
}
.image-holder img
{ 
 
  width:160px;
}
.image-holder img:nth-child(2)
{
  width:130px;
}
.image-holder img:nth-child(1)
{
  margin-left:-10px;
}
.charging,.aboutus,.socialmedia,.contact
{ font-size:16px;
  padding: 14px;
}
.footer
{ margin: auto;
 flex-wrap: wrap;
}
#arrow
{color:rgb(255, 250, 250);
  margin-left:-300px;
  margin-top:170px;  
  transition: transform .2s;
}


}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1080px) and (max-device-width:1150px)
{
  .bar a
  {
    font-size:22px;
    margin-left:0px;
    text-align: center;
    
  }
  .bar a i
  {
    font-size:24px;
    padding:10px;
  }
  .bar img{
    width:100px;
    display: block;
    
}
  .vl{
    margin-left:20px;
    margin-right:10px;
  }  
  
  
  .image-holder
  {
    margin-left:10px;
  }
  .image-holder img
  { 
   
    width:160px;
  }
  .image-holder img:nth-child(2)
  {
    width:130px;
  }
  .image-holder img:nth-child(1)
  {
    margin-left:-10px;
  }
  .charging,.aboutus,.socialmedia,.contact
  { font-size:16px;
    padding: 20px;
  }
  .footer
  { margin: auto;
   flex-wrap: wrap;
  }
  #arrow
  {color:rgb(255, 250, 250);
    margin-left:-300px;
    margin-top:170px;  
    transition: transform .2s;
  }
  

}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1151px) and (max-device-width:1274px)
{
  .bar a
  {
    font-size:25px;
    margin-left:0px;
    text-align: center;
    
  }
  .bar a i
  {
    font-size:27px;
    padding:10px;
  }
  .bar img{
    width:100px;
    display: block;
    
}
  .vl{
    margin-left:20px;
    margin-right:10px;
  }  
  .box{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
  }
  
  .image-holder
  {
    margin-left:10px;
  }
  .image-holder img
  { 
   
    width:160px;
  }
  .image-holder img:nth-child(2)
  {
    width:130px;
  }
  .image-holder img:nth-child(1)
  {
    margin-left:-10px;
  }
  .charging,.aboutus,.socialmedia,.contact
  { font-size:17px;
    padding: 25px;
  }
  .footer
  { margin: auto;
   flex-wrap: wrap;
  }
  #arrow
  {color:rgb(255, 250, 250);
    
    margin-top:170px;  
    transition: transform .2s;
  }
  #arrow
{color:rgb(255, 250, 250);
  margin-left:-400px;
  margin-top:220px;  
  transition: transform .2s;
}
}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1275px) and (max-device-width:1342px)
{
  .bar a
  {
    font-size:25px;
    margin-left:0px;
    text-align: center;
    
  }
  .bar a i
  {
    font-size:27px;
   
  }
  .bar img{
    width:100px;
    display: block;
    
}
  .vl{
    margin-left:20px;
    margin-right:10px;
  }  
 
  .image-holder
  {
    margin-left:10px;
  }
  .image-holder img
  { 
   
    width:160px;
  }
  .image-holder img:nth-child(2)
  {
    width:130px;
  }
  .image-holder img:nth-child(1)
  {
    margin-left:-10px;
  }
  .charging,.aboutus,.socialmedia,.contact
  { font-size:20px;
    padding: 30px;
  }
  .footer
  { margin: auto;
   flex-wrap: wrap;
  }
  #arrow
  {color:rgb(255, 250, 250);
    
    margin-top:170px;  
    transition: transform .2s;
  }
  #arrow
{color:rgb(255, 250, 250);
  margin-left:-400px;
  margin-top:220px;  
  transition: transform .2s;
}
}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1342px) and (max-device-width:1364px){
  .bar a
  {
    font-size:25px;
    margin-left:0px;
    text-align: center;
    
  }
  .bar a i
  {
    font-size:27px;
    padding:10px;
  }
  .bar img{
    width:100px;
    display: block;
    
}
  .vl{
    margin-left:20px;
    margin-right:10px;
  }  
}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1342px) and (max-device-width:1500px)
{
  .image-holder
  {
    margin-left:10px;
  }
  .image-holder img
  { 
   
    width:160px;
  }
  .image-holder img:nth-child(2)
  {
    width:130px;
  }
  .image-holder img:nth-child(1)
  {
    margin-left:-10px;
  }
 
  .footer
  { margin: auto;
   flex-wrap: wrap;
  }
  #arrow
  {color:rgb(255, 250, 250);
    margin-left:-300px;
    margin-top:170px;  
    transition: transform .2s;
  }
  #arrow
{color:rgb(255, 250, 250);
  margin-left:-400px;
  margin-top:220px;  
  transition: transform .2s;
}
}
/* =------------------------------------------------------------------------------- */
@media screen and (min-device-width:1275px) and (max-device-width:1364px)
{
  .bar a
  {
    font-size:24px;
    margin-left:10px;
    text-align: center;
    margin-right:10px;
  }
  .bar img
  {
    padding-left: 20px;
    width:150px;
  }
  .bar a i
  {
    font-size:25px;
    padding:30px;
  }
  
  
  
  .image-holder
  {
    margin-left:10px;
  }
  .image-holder img
  { 
   
    width:160px;
  }
  .image-holder img:nth-child(2)
  {
    width:130px;
  }
  .image-holder img:nth-child(1)
  {
    margin-left:-10px;
  }
  .charging,.aboutus,.socialmedia,.contact
  { font-size:20px;
    padding: 30px;
  }
  .footer
  { margin: auto;
   flex-wrap: wrap;

  }
  #arrow
  {color:rgb(255, 250, 250);
    
    margin-top:170px;  
    transition: transform .2s;
  }
  #arrow
{color:rgb(255, 250, 250);
  margin-left:-400px;
  margin-top:220px;  
  transition: transform .2s;
}
}
